header {
  padding: 10px 10px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 55px;
  color: rgb(0, 115, 255);
  text-shadow: 3px 3px 4px #000000;
  background: linear-gradient(25deg, #ffac54, #ff3e00);
}
menu {
  font-size: 30px;
  align-items: center;
  color: rgb(0, 0, 0);
}
.homePic {
  padding-left: 20px;
}
.content {
  padding: 10px;
  width: 100%
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
  width: 100%
}